.parrafo {
    text-align: justify;
}

.section__box--text {
    text-align: justify;
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.section__box {
    border : 2px ;
    display:inline-block;
    text-align : left;
    box-sizing: border-box;
    padding: 5px;
    margin: -2px;
    width: 25%;
    height: 100px;
}

.logo {
    width: 220px;
    height: 160px;
    padding-left: 3rem;
    padding-bottom: 2rem;
    }